.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  transition: border-color 0.4s;

  &:hover {
    border-color: rgba(0, 0, 0, 0.5);
  }
}

.button-icon {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}