.todoForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.submit {
  align-self: flex-end;
  color: white;
  background: #66BB6A;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.todoFormDescription {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0;
  transition: border-color 0.4s;
  resize: none;

  &:hover {
    border-color: rgba(black, 0.5);
  }
}

.todoFormError {
  min-height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #EF5350
}

.textareaContainer {
  position: relative;
  width: 100%;
}

.textareaLength {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  line-height: 14px;
}