.textarea-container {
  position: relative;
  width: 100%;
}

.textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0;
  transition: border-color 0.4s;
  resize: none;

  &:hover {
    border-color: rgba(black, 0.5);
  }
}

.textarea-length {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  line-height: 14px;
}

.textarea-error {
  min-height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #EF5350
}